*{
    margin: 0;
    padding: 0;
}

/* Estilo para conteúdo do nosso site */

html, body {
    height: 100%;
}

.center{
    /* box-sizing: border-box; */
    width: 1280px;
    margin: 0 auto;
    background-color: gray;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
    padding-bottom: 30px;

}

.artigo{

    width: 100%;
    margin-bottom: 40px;

    /* QUE É O MESMO QUE:
    margin: 50px 30px;

    /* QUE É O MESMO QUE:
    margin: 50px 30px 50px 30px;

    /* QUE É O MESMO QUE:
    margin-left: 80px;
    margin-right: 80px;
    margin-top: 50px;
    margin-bottom: 50px;
    */
}