*{
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../Fonts/OpenSans-Variable.ttf');
}

html, body {
    height: 100%;
    font-family: "Open Sans";
}

form *{
    font-family: "Open Sans";
}

/*
form > *{
    font-family: "Open Sans";
}

.box p{
    font-family: "Open Sans";
}

.text {
    font-family: Tahoma !important;
}
*/